<iframe
  id='authentise-models'
  src='http://app.auth.dev/#/models'
  data-node_version="{{ plugin_authentise_node_version }}"
  data-node_uuid="{{ plugin_authentise_node_uuid }}"
  data-plugin_version="{{ plugin_authentise_version }}"
>
</iframe>
