<div class="media">
  <a class="pull-left" href="http://www.authentise.com">
    <img width="64px" height="64px" class="media-object" src="https://app.authentise.com/d9aa90765f5595972194f850fb64079b.png" alt="Authentise">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      Authentise Plugin <small>{{ plugin_authentise_version }}</small>
    </h4>
    <p>
    <strong>Version:</strong> <small>{{ plugin_authentise_node_version }}</small>
    <br/>
    <strong>UUID:</strong> <small>{{ plugin_authentise_node_uuid }}</small>
    </p>
  </div>
</div>

<hr/>

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Need an Account?</strong> Click <a href="http://app.authentise.com/#/register" target="_blank">here</a> to register.
</div>

<h4>Api Token</h4>
<form id="authentise-settings" class="form-horizontal">
  <div class="control-group">
    <label class="control-label">{{ _('Key') }}</label>
    <div class="controls">
      <input name="key" type="text" class="input-block-level" data-bind="value: settings.plugins.authentise.api_key" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">{{ _('Secret') }}</label>
    <div class="controls">
      <input name="secret" type="password" class="input-block-level" data-bind="value: settings.plugins.authentise.api_secret" />
      <span class="help-block">
        <small>If you don't have an Authentise API token click <a href="#authentise-connect" data-toggle="modal">here</a> to create one.</small>
      </span>
    </div>
  </div>
</form>

<form id="authentise-connect" class="modal hide fade" data-bind="submit: onSubmit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><img width="26px" height="26px" src="https://app.authentise.com/d9aa90765f5595972194f850fb64079b.png" alt="Authentise"> Connect to Authentise</h3>
  </div>
  <div class="modal-body">
    <div class="clearfix">
      <img width="128px" height="128px" src="https://app.authentise.com/d9aa90765f5595972194f850fb64079b.png" alt="Authentise">
      <div class="pull-right">
        <label for="authenitse_user">{{ _('Username') }}</label>
        <input type="text" id="authentise_user" name="authentise_user" required placeholder="{{ _('Username') }}" autocapitalize="none">
        <label for="authentise_pass">{{ _('Password') }}</label>
        <input type="password" id="authentise_pass" name="authentise_pass" required placeholder="{{ _('Password') }}">
        <span class="help-block">
          <small>Click <a href="http://app.authentise.com/#/register" target="_blank">here</a> to create an account.</small>
        </span>
      </div>
    </div>
    <div class="hidden alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <span></span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">
      <i class="icon-random"></i> Connect
    </button>
  </div>
</form>
