#authentise-connect {
  width: 400px;

  .modal-body .alert {
    margin-bottom: 0;
  }
}

#tab_plugin_authentise {
  overflow: hidden;
  height: 800px;
}

#authentise-models {
  position: relative;
  top: -150px;
  width: 100%;
  height: 800px + 150px;
  border: 0;
}
